$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #0B66FF;
$secondary_paletteKeyColor: #757498;
$tertiary_paletteKeyColor: #806FA2;
$neutral_paletteKeyColor: #747682;
$neutral_variant_paletteKeyColor: #737685;
$background: #10131C;
$onBackground: #E0E2EF;
$surface: #10131C;
$surfaceDim: #10131C;
$surfaceBright: #363943;
$surfaceContainerLowest: #0B0E17;
$surfaceContainerLow: #181B25;
$surfaceContainer: #1D1F29;
$surfaceContainerHigh: #272A34;
$surfaceContainerHighest: #32343F;
$onSurface: #E0E2EF;
$surfaceVariant: #434654;
$onSurfaceVariant: #C3C6D6;
$inverseSurface: #E0E2EF;
$inverseOnSurface: #2D303A;
$outline: #8D909F;
$outlineVariant: #434654;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #B3C5FF;
$primary: #B3C5FF;
$onPrimary: #002A76;
$primaryContainer: #003FA5;
$onPrimaryContainer: #DBE1FF;
$inversePrimary: #0054D8;
$secondary: #C5C3EA;
$onSecondary: #2E2D4D;
$secondaryContainer: #464667;
$onSecondaryContainer: #E4E1FF;
$tertiary: #D1BDF6;
$onTertiary: #372856;
$tertiaryContainer: #9A88BD;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #DBE1FF;
$primaryFixedDim: #B3C5FF;
$onPrimaryFixed: #00184A;
$onPrimaryFixedVariant: #003FA5;
$secondaryFixed: #E2DFFF;
$secondaryFixedDim: #C5C3EA;
$onSecondaryFixed: #191837;
$onSecondaryFixedVariant: #444364;
$tertiaryFixed: #EADDFF;
$tertiaryFixedDim: #D1BDF6;
$onTertiaryFixed: #211240;
$onTertiaryFixedVariant: #4E3E6E;
$success: #B5CCBA;
$onSuccess: #213528;
$successContainer: #374B3E;
$onSuccessContainer: #D1E9D6;
$term0: #161A26;
$term1: #8A6EFF;
$term2: #50CADE;
$term3: #FFC0ED;
$term4: #829FC7;
$term5: #9894DF;
$term6: #8ABDEC;
$term7: #D6C1CC;
$term8: #B4A6B1;
$term9: #B5A4FF;
$term10: #B3F2FF;
$term11: #FFFFFF;
$term12: #B9CBE4;
$term13: #C7C1FF;
$term14: #CFE9FF;
$term15: #D9E2FF;
