$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #FC0037;
$secondary_paletteKeyColor: #9D6B59;
$tertiary_paletteKeyColor: #A36A3F;
$neutral_paletteKeyColor: #887271;
$neutral_variant_paletteKeyColor: #8B7170;
$background: #1E100F;
$onBackground: #F8DCDA;
$surface: #1E100F;
$surfaceDim: #1E100F;
$surfaceBright: #473534;
$surfaceContainerLowest: #180B0A;
$surfaceContainerLow: #271817;
$surfaceContainer: #2B1C1B;
$surfaceContainerHigh: #362625;
$surfaceContainerHighest: #423030;
$onSurface: #F8DCDA;
$surfaceVariant: #584140;
$onSurfaceVariant: #DFBFBD;
$inverseSurface: #F8DCDA;
$inverseOnSurface: #3D2C2B;
$outline: #A68A89;
$outlineVariant: #584140;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #FFB3B1;
$primary: #FFB3B1;
$onPrimary: #680010;
$primaryContainer: #92001B;
$onPrimaryContainer: #FFDAD8;
$inversePrimary: #BF0027;
$secondary: #F5B9A4;
$onSecondary: #4C2619;
$secondaryContainer: #693E2F;
$onSecondaryContainer: #FFDDD2;
$tertiary: #FDB886;
$onTertiary: #4F2501;
$tertiaryContainer: #C08356;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #FFDAD8;
$primaryFixedDim: #FFB3B1;
$onPrimaryFixed: #410007;
$onPrimaryFixedVariant: #92001B;
$secondaryFixed: #FFDBCF;
$secondaryFixedDim: #F5B9A4;
$onSecondaryFixed: #321206;
$onSecondaryFixedVariant: #663C2D;
$tertiaryFixed: #FFDCC5;
$tertiaryFixedDim: #FDB886;
$onTertiaryFixed: #301400;
$onTertiaryFixedVariant: #6A3B14;
