[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = 2 * r + 2 * t
	email = 61896496+soramanew@users.noreply.github.com
[init]
	defaultBranch = main
[core]
	editor = '/usr/bin/nano' -n -w
