# Too large
/theming/

# Generated stuff
generated.*
/gtk/.config/gtk-[34].0/gtk.css
/gtk/.config/gtk-[34].0/gtk.css.bak
/hypr/.config/hypr/hyprlock.conf
/hypr/.config/hypr/hyprland/perf.conf

# Unnecessary configs
/thunar/.config/xfce4/xfconf/xfce-perchannel-xml/thunar.xml
/thunar/.config/Thunar/accels.scm

# Get separately
/vesktop/.config/vesktop/arrpc/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Systemd enabled units
/systemd/.config/systemd/user/*.target.wants/
