[submodule "vesktop/.config/vesktop/arrpc"]
	path = vesktop/.config/vesktop/arrpc
	url = https://github.com/OpenAsar/arrpc.git
[submodule ".others/ShyFox"]
	path = .others/ShyFox
	url = https://github.com/Naezr/ShyFox.git
[submodule "theming/.icons/candy-icons"]
	path = theming/.icons/candy-icons
	url = https://github.com/EliverLara/candy-icons.git
