/theming
/pycharm

# Generated stuff
generated.*
/gtk/.config/gtk-[34].0/gtk.css
/gtk/.config/gtk-[34].0/gtk.css.bak
/hypr/.config/hypr/hyprlock.conf
/ags/.config/ags/scss/_musicmaterial.scss
/ags/.config/ags/scss/_musicwal.scss

# Unnecessary configs
/featherpad/.config/featherpad/fp_last_cursor_pos.conf
