@use "../lib/colour" as c;
@use "../lib/rounding";
@use "../lib/elevation";

$-key-height: 3.2rem;
$-key-width: 3.2rem;
$-key-padding: 0.322rem;
$-key-rounding: 0.545rem;
$-key-fontsize: 1.091rem;
$-ctrl-btn-padding: 0.812rem;
$-ctrl-btn-rounding: $-key-rounding * 1.5;
$-ctrl-btn-fontsize: $-key-fontsize * 1.1;

.osk-window {
    @include rounding.large;
    @include elevation.border;
    @include elevation.e2;
    background-color: c.$layer0;
}

.osk-body {
    padding: 1.023rem;
}

.osk-key {
    border-radius: $-key-rounding;
    background-color: c.$layer1;
    color: c.$onLayer1;
    padding: $-key-padding;
    font-weight: 500;
    font-size: $-key-fontsize;

    &:hover,
    &:focus {
        background-color: c.$layer1Hover;
    }

    &:active {
        background-color: c.$layer1Active;
        font-size: $-key-fontsize;
    }
}

.osk-key-active {
    background-color: c.$layer1Active;
}

.osk-key-normal {
    min-width: $-key-width;
    min-height: $-key-height;
}

.osk-key-fn {
    min-width: $-key-width * 1.005;
    min-height: calc($-key-height / 2);
}

.osk-key-tab {
    min-width: $-key-width * 1.6;
    min-height: $-key-height;
}

.osk-key-caps {
    min-width: $-key-width * 1.9;
    min-height: $-key-height;
}

.osk-key-shift {
    min-width: $-key-width * 2.5;
    min-height: $-key-height;
}

.osk-key-control {
    min-width: $-key-width * 1.3;
    min-height: $-key-height;
}

.osk-control-button {
    border-radius: $-ctrl-btn-rounding;
    background-color: c.$layer1;
    color: c.$onLayer1;
    font-weight: 500;
    font-size: $-ctrl-btn-fontsize;
    padding: $-ctrl-btn-padding;

    &:hover,
    &:focus {
        background-color: c.$layer1Hover;
    }

    &:active {
        background-color: c.$layer1Active;
        font-size: $-key-fontsize;
    }
}

.osk-key-empty,
.osk-key-empty:hover,
.osk-key-empty:focus {
    min-width: $-key-width;
    min-height: $-key-height;
    background-color: transparent;
}
