@use "../lib/colour" as c;
@use "../lib/rounding";
@use "../lib/anim";
@use "../lib/font";
@use "../lib/elevation";

@mixin -window-base {
    @include rounding.large;
    @include elevation.border;
    @include elevation.e2;
}

.overview-top-space {
    min-height: 2.727rem;
}

.overview-search-box {
    @include anim.element-decel;
    @include -window-base;
    min-width: 13.636rem;
    min-height: 3.409rem;
    padding: 0rem 1.364rem;
    padding-right: 2.864rem;
    background-color: c.$background;
    color: c.$onBackground;

    selection {
        background-color: c.$secondary;
        color: c.$onSecondary;
    }

    & {
        caret-color: transparent;
    }
}

.overview-search-box-extended {
    min-width: 25.909rem;
    caret-color: c.$onSecondaryContainer;
}

.overview-search-prompt {
    color: c.$subtext;
}

.overview-search-icon {
    margin: 0rem 1.023rem;
}

.overview-search-prompt-box {
    margin-left: -18.545rem;
    margin-right: elevation.$margin + 0.068rem;
}

.overview-search-icon-box {
    margin-left: -18.545rem;
    margin-right: elevation.$margin + 0.068rem;
}

.overview-search-results {
    @include -window-base;
    min-width: 28.773rem;
    padding: calc(rounding.$large / 2); // 0.682rem;
    background-color: c.$layer0;
    color: c.$onLayer0;
}

.overview-search-results-icon {
    margin: 0rem 0.682rem;
    font-size: 2.386rem;
    min-width: 2.386rem;
    min-height: 2.386rem;
}

.overview-search-results-txt {
    margin-right: 0.682rem;
}

.overview-search-results-txt-cmd {
    @include font.tech;
    margin-right: 0.682rem;
    font-size: 1.227rem;
}

.overview-search-result-btn {
    @include rounding.normal;
    padding: 0.341rem;
    min-width: 2.386rem;
    min-height: 2.386rem;

    caret-color: transparent;
}

.overview-search-result-btn:hover,
.overview-search-result-btn:focus {
    background-color: c.$layer0Hover;
}

.overview-search-result-btn:active {
    background-color: c.$layer0Active;
}

.overview-tasks {
    @include -window-base;
    padding: 0.341rem;
    background-color: c.$background;
    color: c.$onBackground;
}

.overview-tasks-workspace {
    @include rounding.normal;
    margin: 0.341rem;
    background-color: c.$layer1;
}

.overview-tasks-workspace-number {
    @include font.main;
    color: c.$onSurfaceVariant;
}

.overview-tasks-window {
    @include rounding.normal;
    @include anim.menu-decel;
    background-color: change-color(c.$layer3, $alpha: 0.8);
    color: c.$onSurface;
    border: 0.068rem solid c.$surfaceContainerHighest;

    &:hover,
    &:focus {
        background-color: transparentize(c.$secondaryContainer, 0.3);
    }

    &:active {
        background-color: transparentize(c.$secondaryContainer, 0.3);
    }
}

.overview-tasks-window-selected {
    background-color: transparentize(c.$secondaryContainer, 0.3);
}

.overview-tasks-window-dragging {
    opacity: 0.2;
}

.overview-tasks-window-volume-icon {
    @include rounding.full;
    min-width: 2.045rem;
    min-height: 2.045rem;
    background-color: change-color(c.$layer3, $alpha: 0.9);
    color: c.$onLayer3;
    border: 0.068rem solid mix(c.$primary, c.$layer3, 50%);
}
