@use "../lib/colour" as c;
@use "../lib/rounding";
@use "../lib/functions" as fn;

.session-bg {
    background-color: fn.to-root-transparency(c.$layer0, $always: True);
}

.session-button {
    @include rounding.large;
    min-width: 8.182rem;
    min-height: 8.182rem;
    background-color: fn.to-root-transparency(c.$layer2);
    color: c.$onLayer2;
    font-size: 3rem;
}

.session-button-focused {
    background-color: c.$layer2Hover;
}

.session-button-desc {
    background-color: c.$layer3;
    color: c.$onLayer3;
    border-bottom-left-radius: rounding.$large;
    border-bottom-right-radius: rounding.$large;
    padding: 0.205rem 0.341rem;
    font-weight: 700;
}

.session-button-cancel {
    min-height: 5.455rem;
}

@for $i from 1 through 7 {
    .session-color-#{$i} {
        color: nth(c.$sessionColors, $i);
    }
}
