[Unit]
Description=arRPC Discord RPC daemon
After=network.target

[Service]
Type=simple
ExecStart=node %h/.config/vesktop/arrpc/src
Restart=on-failure
WorkingDirectory=%h/.config/vesktop/arrpc

[Install]
WantedBy=default.target