# ## opacity 1
windowrule = opacity 1 override, .*

# ## animations 3
# animations {
#    enabled = false
# }

## borderanim 1
# animation = borderangle, 0

# ## blur 5
# decoration {
#     blur {
#         enabled = false
#     }
# }

# ## xray 6
# layerrule = xray 0, .*
# decoration {
#    blur {
#        xray = false
#    }
# }
