@use "../lib/colour" as c;
@use "../lib/rounding";
@use "../lib/anim";
@use "../lib/elevation";

.switcher-bg {
    @include rounding.large;
    @include elevation.border;
    @include elevation.e2;
    margin-bottom: 0.682rem;
    background-color: c.$layer0;
    padding: 1.364rem;
}

.switcher-window {
    @include rounding.normal;
    @include anim.menu-decel;
    background-color: change-color(c.$layer3, $alpha: 0.9);
    color: c.$onSurface;
    border: 0.068rem solid c.$surfaceContainerHighest;
}

.switcher-workspace {
    @include rounding.normal;
    margin: 0.341rem;
    background-color: c.$layer1;
    background-size: contain;
}

.switcher-details {
    @include rounding.normal;
    margin: 0.341rem;
    background-color: c.$layer1;
    color: c.$onLayer1;
    padding: 0.682rem;
}

.switcher-activate-btn {
    @include rounding.normal;
    @include anim.element-decel;
    color: c.$onLayer2;
    background-color: c.$layer2;
    padding: 0.543rem 1.364rem;
    border: 0.068rem solid c.$surfaceContainerHighest;

    &:hover,
    &:focus {
        background-color: c.$layer2Hover;
    }

    &:active {
        background-color: c.$layer2Active;
    }
}

.switcher-list {
    @include rounding.normal;
    margin: 0.341rem;
    background-color: c.$layer1;
    color: c.$onLayer1;
    padding: 0.682rem;
}

.switcher-list-window {
    @include rounding.normal;
    padding: 0.341rem;
    min-width: 36.486rem;
    min-height: 2.386rem;
    caret-color: transparent;

    &:hover,
    &:focus {
        background-color: c.$layer0Hover;
    }

    &:active {
        background-color: c.$layer0Active;
    }
}

.switcher-list-icon {
    margin: 0rem 0.682rem;
    font-size: 2.386rem;
    min-width: 2.386rem;
    min-height: 2.386rem;
}

.switcher-list-txt {
    margin-right: 0.682rem;
}
