@use "../lib/colour" as c;
@use "../lib/rounding";
@use "../lib/font";
@use "../lib/anim";
@use "../lib/border";

.auth {
    @include rounding.smallish;
    @include border.elevation;

    background-color: c.$layer0;
    padding: 1.023rem;
    min-width: 18rem;
    min-height: 8.3rem;
}

.face {
    @include rounding.small;
    @include border.primary(3px);

    background-size: cover;
    background-position: center;
}

.face-fallback {
    @include rounding.small;
    @include font.material;
    @include font.gigantic;
    @include border.primary(3px);

    min-width: 8.181rem;
    min-height: 8.181rem;
    background-color: c.$layer1;
    color: c.$onLayer1;
}

.face-offset {
    min-height: 15rem;
}

.username {
    @include anim.element-decel;
    @include rounding.full;
    @include font.main;
    @include font.large;

    padding: 0.4rem 1.023rem;
    background-color: c.$layer0;
    color: c.$onLayer0;

    &:hover,
    &:focus {
        background-color: c.$layer0Hover;
    }

    &:active {
        background-color: c.$layer0Active;
    }
}

.password {
    @include rounding.small;
    @include font.main;
    @include font.small;

    margin-top: 0.68rem;
    padding: 0.4rem 1.023rem;
    background-color: c.$layer2;
    color: c.$onLayer2;
}

.response {
    @include border.error;

    color: c.$error;
}

.loading {
    @include border.primary;

    color: mix(c.$primary, c.$outline, 90%);
}

.login-button {
    @include anim.element-decel;
    @include rounding.full;
    @include font.material;
    @include font.larger;
    @include font.semibold;
    @include border.elevation;
    @include border.primary;

    margin-top: 0.68rem;
    min-width: 2.727rem;
    min-height: 2.727rem;
    background-color: c.$layer0;
    color: c.$onLayer0;

    &:hover,
    &:focus {
        background-color: c.$layer0Hover;
    }

    &:active {
        background-color: c.$layer0Active;
    }
}
