@use "../lib/colour" as c;
@use "../lib/rounding";
@use "../lib/font";

* {
    selection {
        background-color: c.$secondary;
        color: c.$onSecondary;
    }

    & {
        caret-color: c.$onLayer2;
    }
}

menu {
    @include rounding.small;

    border: 1px solid mix(c.$surfaceContainer, c.$onBackground, 80%);
    padding: 0.681rem;
    background: opacify(c.$surfaceContainer, 1);
    color: c.$onSurface;
    -gtk-outline-radius: 1.159rem;
}

menu > menuitem {
    padding: 0.4em 1.5rem;
    background: transparent;
    transition: 0.2s ease background-color;
    border-radius: 0.545rem;
    -gtk-outline-radius: 0.545rem;

    &:hover,
    &:focus {
        background-color: c.$layer2Hover;
    }

    &:active {
        background-color: c.$layer2Active;
    }
}

tooltip {
    @include rounding.normal;
    @include font.reading;

    background-color: opacify($color: c.$secondaryContainer, $amount: 1);
    color: c.$onSecondaryContainer;
    border: 0.034rem solid c.$inverseSurface;
}
