.applauncher-bg {
    background-color: to-root-transparency($layer0, $override: True);
}

.applauncher-app {
    @include element_decel;
    @include large-rounding;
    min-width: 14rem;
    min-height: 8.182rem;
    background-color: $layer1;
    color: $onLayer1;
    font-size: 1rem;
    margin: 0.32rem;

    &:hover,
    &:focus {
        background-color: $layer1Hover;
    }

    &:active {
        background-color: $layer1Active;
    }
}

.applauncher-appicon {
    font-size: 3rem;
    margin: 0.83rem;
    margin-top: 1.45rem;
}

.applauncher-applist {
    min-width: 100rem;
    // min-height: 55rem;
}

.applauncher-search {
    @include large-rounding;
    min-width: 8.182rem;
    min-height: 1rem;
    padding: 0.85rem 1.36rem;
    background-color: $layer1;
    color: $onLayer1;
    font-size: 1.63rem;
    margin: 2rem;
}

.applauncher-scrollbar {
    trough {
        @include full-rounding;
        min-width: 0.545rem;
        background-color: transparent;
    }

    slider {
        @include full-rounding;
        @include element_decel;
        min-width: 0.273rem;
        min-height: 2.045rem;
        background-color: transparentize($onSurfaceVariant, 0.7);
    }

    slider:hover,
    slider:focus {
        background-color: transparentize($onSurfaceVariant, 0.6);
    }

    slider:active {
        background-color: transparentize($onSurface, 0.5);
    }
}
