.osd-music {
    padding: 0rem 1.023rem;
}

.osd-music-background {
    @include menu_decel;
    @include elevation2;
    @include normal-rounding;
    margin-top: 0.313rem;
    min-height: 9.546rem;
    min-width: 29.659rem;
    background-color: $layer0;
    background-size: cover;
    background-position: center;
}

.osd-music-cover-art {
    @include menu_decel;
    @include small-rounding;
    margin-top: 1.023rem;
    margin-bottom: 1.023rem;
    min-width: 7.5rem;
    min-height: 7.5rem;
    background-color: $layer1;
    color: $onSecondaryContainer;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 0px 5px mix($primary, $layer0, 20%);
}

.osd-music-info {
    margin: 1.023rem 0rem;
}

.osd-music-title {
    @include element_decel;
    @include titlefont;
    font-size: 1.364rem;
    color: to-dark-mode($onSecondaryContainer);
}

.osd-music-artists {
    @include element_decel;
    @include mainfont;
    font-size: 0.955rem;
    color: to-dark-mode(mix($onSecondaryContainer, $secondaryContainer, 80%));
}

.osd-music-pill {
    @include element_decel;
    @include full-rounding;
    @include titlefont;
    min-width: 1.833rem;
    padding: 0.273rem 0.682rem;
    background-color: $secondaryContainer;
    color: $onSecondaryContainer;
}

.osd-music-controls {
    @include element_decel;
    @include full-rounding;
    @include titlefont;
    min-width: 1.833rem;
    padding: 0.205rem;
    background-color: $secondaryContainer;
    color: $onSecondaryContainer;
}

.osd-music-controlbtn {
    @include menu_decel;
    min-width: 2.045rem;
    min-height: 2.045rem;
    @include full-rounding;

    &:hover,
    &:focus {
        background-color: mix($secondaryContainer, $onSecondaryContainer, 90%);
    }

    &:active {
        background-color: mix($secondaryContainer, $onSecondaryContainer, 85%);
    }
}

.osd-music-controlbtn-txt {
    @include element_decel;
    font-size: 1.364rem;
    margin: -0.1rem 0rem;
}

.osd-music-circprog {
    @include fluent_decel_long;
    min-width: 0.409rem; // width of progress
    min-height: 3.068rem;
    padding: 0.273rem;
    color: $onSecondaryContainer;
}

.osd-music-playstate {
    @include menu_decel;
    min-height: 3.068rem;
    min-width: 3.068rem;
    border-radius: 10rem;
    background-color: $secondaryContainer;
    color: $onSecondaryContainer;
}

.osd-music-playstate-btn > label {
    transition: 50ms cubic-bezier(0.05, 0.7, 0.1, 1);
    @include icon-material;
    font-size: 1.364rem;
    margin: -0.1rem 0rem;
}
