$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #FFF700;
$secondary_paletteKeyColor: #737B4E;
$tertiary_paletteKeyColor: #647F4A;
$neutral_paletteKeyColor: #7A7865;
$neutral_variant_paletteKeyColor: #7A7861;
$background: #151407;
$onBackground: #E7E3CC;
$surface: #151407;
$surfaceDim: #151407;
$surfaceBright: #3B3A2A;
$surfaceContainerLowest: #0F0F04;
$surfaceContainerLow: #1D1C0E;
$surfaceContainer: #212012;
$surfaceContainerHigh: #2C2B1C;
$surfaceContainerHighest: #373526;
$onSurface: #E7E3CC;
$surfaceVariant: #494833;
$onSurfaceVariant: #CBC7AD;
$inverseSurface: #E7E3CC;
$inverseOnSurface: #323122;
$outline: #949279;
$outlineVariant: #494833;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #D2CC00;
$primary: #D2CC00;
$onPrimary: #343200;
$primaryContainer: #4B4900;
$onPrimaryContainer: #F0E800;
$inversePrimary: #646100;
$secondary: #C3CB98;
$onSecondary: #2D330E;
$secondaryContainer: #434A22;
$onSecondaryContainer: #DFE7B2;
$tertiary: #B2D093;
$onTertiary: #203609;
$tertiaryContainer: #7E9961;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #F0E800;
$primaryFixedDim: #D2CC00;
$onPrimaryFixed: #1E1C00;
$onPrimaryFixedVariant: #4B4900;
$secondaryFixed: #DFE7B2;
$secondaryFixedDim: #C3CB98;
$onSecondaryFixed: #181E00;
$onSecondaryFixedVariant: #434A22;
$tertiaryFixed: #CEECAD;
$tertiaryFixedDim: #B2D093;
$onTertiaryFixed: #0E2000;
$onTertiaryFixedVariant: #354D1E;
$success: #B5CCBA;
$onSuccess: #213528;
$successContainer: #374B3E;
$onSuccessContainer: #D1E9D6;
