$osk_key_height: 3.2rem;
$osk_key_width: 3.2rem;
$osk_key_padding: 0.322rem;
$osk_key_rounding: 0.545rem;
$osk_key_fontsize: 1.091rem;
$osk_ctrl_btn_padding: 0.812rem;
$osk_ctrl_btn_rounding: $osk_key_rounding * 1.5;
$osk_ctrl_btn_fontsize: $osk_key_fontsize * 1.1;

.osk-window {
    // @include menu_decel_fast;
    @include large-rounding;
    @include elevation-border;
    @include elevation2;
    // min-height: 29.591rem;
    // min-width: 50rem;
    background-color: $layer0;
}

.osk-body {
    padding: 1.023rem;
}

.osk-key {
    border-radius: $osk_key_rounding;
    background-color: $layer1;
    color: $onLayer1;
    padding: $osk_key_padding;
    font-weight: 500;
    font-size: $osk_key_fontsize;
}

.osk-key:hover,
.osk-key:focus {
    background-color: $layer1Hover;
}

.osk-key:active {
    background-color: $layer1Active;
    font-size: $osk_key_fontsize;
}

.osk-key-active {
    background-color: $layer1Active;
}

.osk-key-normal {
    min-width: $osk_key_width;
    min-height: $osk_key_height;
}

.osk-key-fn {
    min-width: $osk_key_width * 1.005;
    min-height: calc($osk_key_height / 2); // dart-sass
    // min-height: $osk_key_height / 2; // sassc
}

.osk-key-tab {
    min-width: $osk_key_width * 1.6;
    min-height: $osk_key_height;
}

.osk-key-caps {
    min-width: $osk_key_width * 1.9;
    min-height: $osk_key_height;
}

.osk-key-shift {
    min-width: $osk_key_width * 2.5;
    min-height: $osk_key_height;
}

.osk-key-control {
    min-width: $osk_key_width * 1.3;
    min-height: $osk_key_height;
}

.osk-control-button {
    border-radius: $osk_ctrl_btn_rounding;
    background-color: $layer1;
    color: $onLayer1;
    font-weight: 500;
    font-size: $osk_ctrl_btn_fontsize;
    padding: $osk_ctrl_btn_padding;
}

.osk-control-button:hover,
.osk-control-button:focus {
    background-color: $layer1Hover;
}

.osk-control-button:active {
    background-color: $layer1Active;
    font-size: $osk_key_fontsize;
}

.osk-key-empty,
.osk-key-empty:hover,
.osk-key-empty:focus {
    min-width: $osk_key_width;
    min-height: $osk_key_height;
    background-color: transparent;
}
