.session-bg {
    background-color: to-root-transparency($layer0, $override: True);
}

.session-button {
    @include large-rounding;
    min-width: 8.182rem;
    min-height: 8.182rem;
    background-color: to-root-transparency($layer2);
    color: $onLayer2;
    font-size: 3rem;
}

.session-button-focused {
    background-color: $layer2Hover;
}

.session-button-desc {
    background-color: $layer3;
    color: $onLayer3;
    border-bottom-left-radius: $rounding_large;
    border-bottom-right-radius: $rounding_large;
    padding: 0.205rem 0.341rem;
    font-weight: 700;
}

.session-button-cancel {
    min-height: 5.455rem;
}

@for $i from 1 through 7 {
    .session-color-#{$i} {
        color: nth($sessionColors, $i);
    }
}
