$sidebar_chat_textboxareaColor: mix($onSurfaceVariant, $surfaceVariant, 40%);

@mixin group-padding {
    padding: 0.341rem;
}

.sidebar-right {
    @include elevation-border;
    @include elevation2;
    border-radius: $rounding_large - $elevation_margin + 0.068rem;
    min-width: 27.818rem;
    background-color: $background;
    padding: 1.023rem;
}

.sidebar-left {
    @include elevation-border;
    @include elevation2;
    border-radius: $rounding_large - $elevation_margin + 0.068rem;
    min-width: 27.818rem;
    background-color: $background;
    padding: 1.023rem;
}

.sidebar-group {
    @include normal-rounding;
    @include group-padding;
    background-color: $layer1;
}

.sidebar-group-nopad {
    @include normal-rounding;
    background-color: $layer1;
}

.sidebar-group-invisible {
    @include group-padding;
}

.sidebar-group-invisible-morehorizpad {
    padding: 0.341rem 0.682rem;
}

.sidebar-togglesbox {
    @include full-rounding;
    @include group-padding;
    background-color: $layer1;
}

.sidebar-iconbutton {
    @include full-rounding;
    @include element_decel;
    color: $onSurface;
    min-width: 2.727rem;
    min-height: 2.727rem;
}

.sidebar-iconbutton:hover,
.sidebar-iconbutton:focus {
    background-color: $layer1Hover;
}

.sidebar-iconbutton:active {
    background-color: $layer1Active;
}

.sidebar-button-active {
    background-color: $primary;
    color: $onPrimary;
}

.sidebar-button-active:hover,
.sidebar-button-active:focus {
    background-color: mix($primary, $layer1Hover, 70%);
}

.sidebar-button-active:active {
    background-color: mix($primary, $layer1Active, 40%);
}

.sidebar-buttons-separator {
    min-width: 0.068rem;
    min-height: 0.068rem;
    background-color: $onSurfaceVariant;
}

.sidebar-navrail {
    padding: 0rem $rounding_medium;
}

.sidebar-navrail-btn > box > label {
    @include full-rounding;
    @include menu_decel;
}

.sidebar-navrail-btn:hover > box > label:first-child,
.sidebar-navrail-btn:focus > box > label:first-child {
    background-color: $layer1Hover;
}

.sidebar-navrail-btn:active > box > label:first-child {
    background-color: $layer1Active;
}

.sidebar-navrail-btn-active > box > label:first-child {
    background-color: $secondaryContainer;
    color: $onSecondaryContainer;
}

.sidebar-navrail-btn-active:hover > box > label:first-child,
.sidebar-navrail-btn-active:focus > box > label:first-child {
    background-color: mix($secondaryContainer, $layer1Hover, 90%);
    color: mix($onSecondaryContainer, $layer1Hover, 90%);
}

.sidebar-sysinfo-grouppad {
    padding: 1.159rem;
}

.sidebar-memory-ram-circprog {
    @include fluent_decel_long;
    min-width: $rounding_small;
    min-height: 4.091rem;
    padding: 0.409rem;
    background-color: $secondaryContainer;
    color: $onSecondaryContainer;
    font-size: 0px;
}

.sidebar-memory-swap-circprog {
    @include fluent_decel_long;
    min-width: $rounding_small;
    min-height: 2.255rem;
    padding: 0.409rem;
    margin: 0.918rem;
    background-color: $secondaryContainer;
    color: $onSecondaryContainer;
    font-size: 0px;
}

.sidebar-cpu-circprog {
    min-width: $rounding_small;
    min-height: 3.409rem;
    padding: 0.409rem;
    background-color: $secondaryContainer;
    color: $onSecondaryContainer;
    @include fluent_decel_long;
    font-size: 0px;
}

.sidebar-scrollbar {
    trough {
        @include full-rounding;
        min-width: 0.545rem;
        background-color: transparent;
    }

    slider {
        @include full-rounding;
        @include element_decel;
        min-width: 0.273rem;
        min-height: 2.045rem;
        background-color: transparentize($onSurfaceVariant, 0.7);
    }

    slider:hover,
    slider:focus {
        background-color: transparentize($onSurfaceVariant, 0.6);
    }

    slider:active {
        background-color: transparentize($onSurface, 0.5);
    }
}

.sidebar-calendar-btn {
    @include full-rounding;
    @include element_decel;
    min-height: 2.523rem;
    min-width: 2.523rem;
    color: $onSurface;
}

.sidebar-calendar-btn:hover,
.sidebar-calendar-btn:focus {
    background-color: $layer1Hover;
}

.sidebar-calendar-btn:active {
    background-color: $layer1Active;
}

.sidebar-calendar-btn-txt {
    margin-left: -10.341rem;
    margin-right: -10.341rem;
}

.sidebar-calendar-btn-today {
    background-color: $primary;
    color: $onPrimary;
}

.sidebar-calendar-btn-today:hover,
.sidebar-calendar-btn-today:focus {
    background-color: mix($primary, $layer1Hover, 70%);
}

.sidebar-calendar-btn-today:active {
    background-color: mix($primary, $layer1Active, 40%);
}

.sidebar-calendar-btn-othermonth {
    color: $outline;
}

.sidebar-calendar-header {
    margin: 0.341rem;
}

.sidebar-calendar-monthyear-btn {
    @include full-rounding;
    @include element_decel;
    padding: 0rem 0.682rem;
    background-color: $layer2;
    color: $onSurface;
}

.sidebar-calendar-monthyear-btn:hover,
.sidebar-calendar-monthyear-btn:focus {
    background-color: $layer1Hover;
}

.sidebar-calendar-monthyear-btn:active {
    background-color: $layer1Active;
}

.sidebar-calendar-monthshift-btn {
    @include full-rounding;
    @include element_decel;
    min-width: 2.045rem;
    min-height: 2.045rem;
    background-color: $layer2;
    color: $outline;
}

.sidebar-calendar-monthshift-btn:hover {
    background-color: $layer1Hover;
}

.sidebar-calendar-monthshift-btn:active {
    background-color: $layer1Active;
}

.sidebar-todolist {
    padding: calc($rounding_small / 2);
}

.sidebar-todo-item-action {
    @include element_decel;
    border-radius: 9999px;
    min-width: 1.705rem;
    min-height: 1.705rem;
}

.sidebar-todo-item-action:hover,
.sidebar-todo-item-action:focus {
    background-color: $layer2Hover;
}

.sidebar-todo-item-action:active {
    background-color: $layer2Active;
}

.sidebar-todo-crosser {
    transition: margin 200ms cubic-bezier(0.1, 1, 0, 1), background-color 0ms;
    min-width: 0rem;
}

.sidebar-todo-crosser-crossed {
    background-color: $onBackground;
}

.sidebar-todo-crosser-removed {
    background-color: $error;
}

.sidebar-todo-new {
    @include full-rounding;
    @include element_decel;
    color: $onSecondaryContainer;
    background-color: $secondaryContainer;
    margin: 0.341rem;
    padding: 0.205rem 0.545rem;
}

.sidebar-todo-new:hover,
.sidebar-todo-new:focus {
    background-color: mix($secondaryContainer, $layer1Hover, 10%);
}

.sidebar-todo-new:active {
    background-color: mix($secondaryContainer, $layer1Active, 10%);
}

.sidebar-todo-add {
    @include element_decel;
    @include small-rounding;
    min-width: 1.705rem;
    min-height: 1.705rem;
    color: $onSecondaryContainer;
    border: 0.068rem solid $onSurface;
}

.sidebar-todo-add:hover,
.sidebar-todo-add:focus {
    background-color: $surfaceContainerHigh;
}

.sidebar-todo-add:active {
    background-color: $surfaceContainerHighest;
}

.sidebar-todo-add-available {
    @include element_decel;
    @include small-rounding;
    min-width: 1.705rem;
    min-height: 1.705rem;
    background-color: $primary;
    color: $onPrimary;
    border: 0.068rem solid $primary;
}

.sidebar-todo-add-available:hover,
.sidebar-todo-add-available:focus {
    background-color: mix($primary, $layer1Hover, 70%);
}

.sidebar-todo-add-available:active {
    background-color: mix($primary, $layer1Active, 40%);
}

.sidebar-todo-entry {
    @include element_decel;
    @include small-rounding;
    background-color: $surfaceVariant;
    color: $onSurfaceVariant;
    caret-color: $onSurfaceVariant;
    margin: 0rem 0.341rem;
    min-height: 1.773rem;
    min-width: 0rem;
    padding: 0.205rem 0.682rem;
    border: 0.068rem solid $outline;
}

.sidebar-todo-entry:focus {
    border: 0.068rem solid $onSurfaceVariant;
}

.sidebar-module {
    @include normal-rounding;
    @include group-padding;
    background-color: $layer1;
    padding: 0.682rem;
}

.sidebar-module-btn-arrow {
    @include full-rounding;
    @include icon-material;
    min-width: 1.705rem;
    min-height: 1.705rem;
}

.sidebar-module-scripts-button {
    @include full-rounding;
    @include icon-material;
    @include element-decel;
    background-color: $layer1;
    min-width: 1.705rem;
    min-height: 1.705rem;

    &:hover {
        background-color: $layer1Hover;
    }

    &:active {
        background-color: $layer1Active;
    }
}

$colorpicker_rounding: 0.341rem;

.sidebar-module-colorpicker-wrapper {
    padding: 0.341rem;
}

.sidebar-module-colorpicker-cursorwrapper {
    padding: 0.341rem 0.136rem;
}

.sidebar-module-colorpicker-hue {
    min-height: 13.636rem;
    min-width: 1.091rem;
    border-radius: $colorpicker_rounding;
}

.sidebar-module-colorpicker-hue-cursor {
    background-color: $onBackground;
    border: 0.136rem solid $onBackground;
    min-height: 0.136rem;
    margin-top: -0.136rem;
    border-radius: $colorpicker_rounding;
}

.sidebar-module-colorpicker-saturationandlightness-wrapper {
    padding: 0.341rem;
}

.sidebar-module-colorpicker-saturationandlightness {
    min-height: 13.636rem;
    min-width: 13.636rem;
    border-radius: $colorpicker_rounding;
}

.sidebar-module-colorpicker-saturationandlightness-cursorwrapper {
    padding: 0.341rem;
    margin-top: -0.409rem;
    margin-left: -0.409rem;
}

.sidebar-module-colorpicker-saturationandlightness-cursor {
    @include full-rounding;
    border: 0.136rem solid white;
    min-width: 0.682rem;
    min-height: 0.682rem;
    margin-top: -0.409rem;
    margin-left: -0.409rem;
}

.sidebar-module-colorpicker-result-area {
    padding: 0.341rem;
}

.sidebar-module-colorpicker-result-box {
    border-radius: $colorpicker_rounding;
    min-width: 2.045rem;
    min-height: 0.682rem;
    padding: 0.341rem;
}

.sidebar-module-repo {
    @include normal-rounding;
    @include group-padding;
    background-color: $layer2;
    padding: 0.682rem;
}

.sidebar-module-reload {
    @include normal-rounding;
    @include group-padding;
    @include element-decel;
    color: $onLayer2;
    background-color: $layer2;
    padding: 0.543rem 0.782rem 0.543rem 0.682rem;

    &:hover,
    &:focus {
        background-color: $layer2Hover;
    }

    &:active {
        background-color: $layer2Active;
    }
}

.sidebar-module-loading {
    @include normal-rounding;
    @include group-padding;
    color: $onLayer2;
    background-color: $layer2;
    padding: 0.543rem 0.782rem 0.543rem 0.682rem;
}

.sidebar-icontabswitcher {
    @include full-rounding;
    @include group-padding;
    background-color: $layer1;
}

.sidebar-pin {
    @include full-rounding;
    @include element_decel;
    min-height: 2.386rem;
    min-width: 2.386rem;
    color: $onSurface;
}

.sidebar-pin:hover,
.sidebar-pin:focus {
    background-color: $layer1Hover;
}

.sidebar-pin:active {
    background-color: $layer1Active;
}

.sidebar-pin-enabled {
    background-color: $primary;
    color: $onPrimary;
}

.sidebar-pin-enabled:hover,
.sidebar-pin-enabled:focus {
    background-color: mix($primary, $layer2Hover, 70%);
}

.sidebar-pin-enabled:active {
    background-color: mix($primary, $layer2Active, 40%);
}

.sidebar-volmixer-stream {
    border-bottom: 0.068rem solid $outlineVariant;
    padding: 0.682rem;
    color: $onSurface;
}

.sidebar-volmixer-stream-appicon {
    font-size: 3.273rem;
}

.sidebar-volmixer-stream-slider {
    trough {
        border-radius: $rounding_verysmall;
        min-height: 1.364rem;
        min-width: 1.364rem;
        background-color: $secondaryContainer;
    }

    highlight {
        border-radius: $rounding_verysmall;
        min-height: 1.364rem;
        min-width: 1.364rem;
        background-color: $primary;
    }

    slider {
        border-radius: $rounding_verysmall;
        min-height: 1.364rem;
        min-width: 1.364rem;
    }
}

.sidebar-volmixer-deviceselector {
    @include small-rounding;
    padding: 0.477rem 0.682rem;
    background-color: $surfaceContainerHigh;
    color: $onSurfaceVariant;
}

.sidebar-bluetooth-device {
    padding: 0.682rem;
    @include normal-rounding;
    background-color: $layer2;
    color: $onLayer2;
}

.sidebar-bluetooth-appicon {
    @include symbolic-icon;
    font-size: 2.045rem;
}

.sidebar-bluetooth-device-remove {
    @include full-rounding;
    min-width: 2.045rem;
    min-height: 2.045rem;
    // background-color: $layer3;
    padding: 0.341rem;
}

.sidebar-bluetooth-device-remove:hover,
.sidebar-bluetooth-device-remove:focus {
    @include full-rounding;
    background-color: $layer2Hover;
    padding: 0.341rem;
}

.sidebar-wifinetworks-network {
    padding: 0.682rem;
    @include normal-rounding;
    background-color: $layer2;
    color: $onLayer2;
}

.sidebar-wifinetworks-network:hover,
.sidebar-wifinetworks-network:focus {
    background-color: $layer2Hover;
}

.sidebar-wifinetworks-network:active {
    background-color: $layer2Active;
}

.sidebar-wifinetworks-signal {
    @include symbolic-icon;
    font-size: 2.045rem;
}

.sidebar-wifinetworks-auth-entry {
    @include small-rounding;
    background-color: $layer1;
    color: $onLayer1;
    padding: 0.682rem;
}

.sidebar-wifinetworks-closebtn {
    @include full-rounding;
    color: $onLayer1;
    background-color: $layer1;
    min-width: 2.5rem;
    min-height: 2.5rem;

    &:hover,
    &:focus {
        background-color: $layer1Hover;
    }

    &:active {
        background-color: $layer1Active;
    }
}

.sidebar-scrollcorner0 {
    @include smallish-rounding;
    background-color: $layer0;
}

.sidebar-scrollcorner1 {
    @include smallish-rounding;
    background-color: $layer1;
}

.sidebar-perftoggles {
    margin: 0.341rem;
}
