.switcher-bg {
    @include large-rounding;
    @include elevation-border;
    @include elevation2;
    margin-bottom: 0.682rem;
    background-color: $layer0;
    padding: 1.364rem;
}

.switcher-window {
    @include normal-rounding;
    @include menu_decel;
    background-color: change-color($layer3, $alpha: 0.9);
    color: $onSurface;
    border: 0.068rem solid $surfaceContainerHighest;
}

.switcher-workspace {
    @include normal-rounding;
    margin: 0.341rem;
    background-color: $layer1;
    background-size: contain;
}

.switcher-details {
    @include normal-rounding;
    margin: 0.341rem;
    background-color: $layer1;
    color: $onLayer1;
    padding: 0.682rem;
}

.switcher-activate-btn {
    @include normal-rounding;
    @include group-padding;
    @include element-decel;
    color: $onLayer2;
    background-color: $layer2;
    padding: 0.543rem 1.364rem;
    border: 0.068rem solid $surfaceContainerHighest;

    &:hover,
    &:focus {
        background-color: $layer2Hover;
    }

    &:active {
        background-color: $layer2Active;
    }
}

.switcher-list {
    @include normal-rounding;
    margin: 0.341rem;
    background-color: $layer1;
    color: $onLayer1;
    padding: 0.682rem;
}

.switcher-list-window {
    @include normal-rounding;
    padding: 0.341rem;
    min-width: 36.486rem;
    min-height: 2.386rem;

    caret-color: transparent;
}

.switcher-list-window:hover,
.switcher-list-window:focus {
    background-color: $layer0Hover;
}

.switcher-list-window:active {
    background-color: $layer0Active;
}

.switcher-list-icon {
    margin: 0rem 0.682rem;
    font-size: 2.386rem;
    min-width: 2.386rem;
    min-height: 2.386rem;
}

.switcher-list-txt {
    margin-right: 0.682rem;
}
