@use "colours" as *;
@use "lib_mixins" as *;

.todoscreen-bg {
    @include large-rounding;
    @include elevation-border;
    @include elevation2;
    margin-bottom: 0.682rem;
    background-color: $layer0;
    padding: 1.364rem;
    min-width: 100rem;
    min-height: 50rem;
}

.todoscreen-closebtn {
    @include element_decel;
    @include full-rounding;
    min-width: 2.386rem;
    min-height: 2.386rem;
}

.todoscreen-closebtn:hover,
.todoscreen-closebtn:focus {
    background-color: $layer0Hover;
}

.todoscreen-closebtn:active {
    background-color: $layer0Active;
}

.todoscreen-todo-item {
    @include small-rounding;
    padding: 0.273rem 0.273rem 0.273rem 0.545rem;
}

.todoscreen-todo-item-wrapper {
    @include small-rounding;
    transition: 200ms cubic-bezier(0, 0.55, 0.45, 1);
}

.todoscreen-todo-item-hovered {
    background-color: $layer0Hover;
}

.todoscreen-todo-crosser {
    @include small-rounding;
    padding: 0.273rem 0.273rem 0.273rem 0.545rem;
    transition: margin 200ms cubic-bezier(0.1, 1, 0, 1), background-color 0ms;
    min-width: 0rem;
}

.todoscreen-todo-item-action {
    @include element_decel;
    border-radius: 9999px;
    min-width: 1.705rem;
    min-height: 1.705rem;
}

.todoscreen-todo-item-action:hover,
.todoscreen-todo-item-action:focus {
    background-color: mix($primary, $layer1Hover, 20%);
}

.todoscreen-todo-item-action:active {
    background-color: mix($primary, $layer1Active, 40%);
}
