@use "../lib/colour" as c;
@use "../lib/rounding";
@use "../lib/anim";
@use "../lib/font";
@use "../lib/elevation";

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@mixin -appear($duration: 40ms) {
    animation-name: appear;
    animation-duration: $duration;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
}

menu {
    @include -appear;
    @include rounding.small;
    border: 1px solid mix(c.$surfaceContainer, c.$onBackground, 80%);
    padding: 0.681rem;
    background: opacify(c.$surfaceContainer, 1);
    color: c.$onSurface;
    -gtk-outline-radius: 1.159rem;
}

menubar > menuitem {
    border-radius: 0.545rem;
    -gtk-outline-radius: 0.545rem;
    min-width: 13.636rem;
    min-height: 2.727rem;
}

menu > menuitem {
    padding: 0.4em 1.5rem;
    background: transparent;
    transition: 0.2s ease background-color;
    border-radius: 0.545rem;
    -gtk-outline-radius: 0.545rem;

    &:hover,
    &:focus {
        background-color: c.$layer2Hover;
    }

    &:active {
        background-color: c.$layer2Active;
    }
}

menu > menuitem:disabled {
    color: c.$subtext;
}

radio {
    @include rounding.full;
    margin: 0.273rem;
    min-width: 15px;
    min-height: 15px;
    border: 0.068rem solid c.$outline;
}

radio:checked {
    min-width: 8px;
    min-height: 8px;
    background-color: c.$onPrimary;
    border: 0.477rem solid c.$primary;
}

tooltip {
    @include -appear(100ms);
    @include rounding.normal;
    @include font.reading;
    background-color: opacify($color: c.$secondaryContainer, $amount: 1);
    color: c.$onSecondaryContainer;
    border: 0.034rem solid c.$inverseSurface;
}

popover {
    @include -appear;
    @include elevation.border-softer;
    padding: 0.681rem;
    background: c.$surfaceContainerHigh;
    color: c.$onSurface;
    border-radius: 1.159rem;
    -gtk-outline-radius: 1.159rem;
}

widget {
    @include rounding.small;
}

scrollbar {
    trough {
        @include rounding.full;
        min-width: 0.545rem;
        background-color: transparent;
    }

    slider {
        @include rounding.full;
        @include anim.element-decel;
        min-width: 0.273rem;
        min-height: 2.045rem;
        background-color: transparentize(c.$onSurfaceVariant, 0.7);

        &:hover,
        &:focus {
            background-color: transparentize(c.$onSurfaceVariant, 0.6);
        }

        &:active {
            background-color: transparentize(c.$onSurface, 0.5);
        }
    }
}
